.contentboxes{
    margin-left: 40px;
    text-align: center;  
    color: red;
    display: flex;
}
.box{
    border: 3px solid black;
    margin: 10px;
    width: 100px;
    height: 100px;
    padding: 20px;
}