*{
  padding:0%;
  margin: 0%;
}
body{
  background-color:rgb(195, 239, 241);
}
nav {
  background-color:rgb(125, 161, 155);
  overflow: hidden;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
  font-family: 'Alkatra', 'Archivo Narrow';
}
nav ul{
  display: flex;
  list-style-type: none;
  height: 52px;
  align-items: center;
} 
nav ul li {
  padding: 10px;
  font-weight: bold;
}
nav ul button{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  background-color:rgb(12, 126, 124);
  color: lavender;
  cursor: pointer;
  transition: transform 0.2s ease;
}
nav ul button:active{
  transform: scale(0.96);
}
.name{
  display:flex;
  color: yellow;
  font-size: 27px;
}
pre{
  margin-top: 40px ;
  font-size: x-large;
  padding-bottom: 25px;
  margin-left: 15px;
}
p{
  font-size: large;
  margin-left: 15px;
}
.contents{
  display: grid;
  margin-left: 30px;
  grid-template-columns:repeat(3,1fr);
  gap: px; 
}
.contents li{
  padding: 20px;
}
.contents button {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color:darkslategray;
  color:blanchedalmond;
  cursor: pointer;
  transition: transform 0.2s ease;
}
ol button:active{
  transform: scale(0.96);
}
